<h1>Dummy landing Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde, ipsa sit, perspiciatis ab, tempora voluptate, suscipit non fugiat quidem distinctio. Quos facilis animi enim laudantium rerum reprehenderit culpa vitae.</p>
<footer>
  Awesome Footer
</footer>