body, html {
  padding: 0;
  margin: 0;
  border-width: 0;
}

#land {
  background-image: image-url('ocean.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;

  .vcenter {
    border: 1px solid transparent;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40%;
    margin-left: 10%;
  }
}